# Visual Studio-specific folders
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb

# Test results
[Tt]est[Rr]esult*/  
*.trx
*.coverage

# NuGet packages
packages/
*.nupkg
*.snupkg
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

# Rider IDE
.idea/

# Temporary & cache files
*.log
*.cache
*.tmp
*.dbmdl
*.bak

# Others
_ReSharper*/
*.VSCodeCounter
*.vspscc
*.vssscc
*.orig
*.db
*.DS_Store
Thumbs.db
